<div class="top-wrapper">


    <p class="title-home">ぬり絵勉強部屋</p>
    <% current_user.timers.each do |f|%>
     <%= f.start_time %>
    <% end %>

    <p class="paragraph-home1">ぬり絵勉強法と、ソーシャル機能でモチベーションを管理！</p>
    <%=link_to "ぬり絵勉強法とは？",about_path,class:"top-about-me"%>

    <% unless logged_in? %>
      <%= link_to "今すぐ学習を開始する", signup_path, class: "btn btn-lg btn-primary signup" %>
      <%= link_to "サンプルユーザーでログイン",  sample_sessions_path,method: :post,class: "btn btn-lg btn-primary login "%>


    <% else %>
      <%= link_to "今日の勉強を開始する", new_study_path,class: "btn btn-lg btn-primary benkyo"%>
    <% end %>



</div>

<%= image_tag asset_path('cat_study.png') ,class:"image-home-aicon"%>

<div class="home-middle">
  <h2 claas="home-middlee">勉強嫌いでもどんどんやる気が出てくるぬり絵勉強法</h2>

  <p>ぬり絵勉強法とは、<%= link_to "「勉強嫌いの私が1年で3000時間勉強して京大に合格した「ぬり絵勉強法」」",
    'https://studyhacker.net/columns/houganshi-nurie-benkyou' %>にて紹介された勉強法です！</p>
  <p>国語は黄色、数学は赤色のように各科目にどの色を使うか決めましょう。
    方眼紙は、1マスで15分を表しています。たとえば数学を30分勉強したら、数学の色で2マス塗りましょう。</p>
  <p>勉強すればするほど塗った面積が増え、方眼紙がカラフルになっていき、自分がどれだけ頑張ったかが一目瞭然！
    さらに、色を塗る行為自体が勉強へのモチベーションになるのに加え、どの教科にどれくらい時間を費やしているのか把握しやすいため、教科ごとに勉強時間が偏ってしまうのを防げます！</p>


</div>

<div class="step">
  <h2>勉強時間を楽々記録</h2>
  <div class="home-about-wrapper">
    <div class="home-about1"><p class="home-about-p1">①マーカーを登録し</p><%= image_tag asset_path('marker-sample.png') ,class:"explanation-image-1"%></div>
    <div class="home-about3"><p>②好きなマス目を選択して記入</p><%= image_tag asset_path('sample-nurie.png') ,class:"explanation-image-3"%></div>
    <div class="home-about4"><p>③タイマーモードで自動記入も!</p><%= image_tag asset_path('timer-sample.png'), class:"explanation-image-4"%></div>
  </div>
</div>
