  <% provide(:title, "Edit user") %>

<div class="users-wrapper">
   <%= render partial:'shared/menu',locals:{menu: @menu_number} %>
<div id='edit' class="user-edit">

  <div id="tabMenu">
    <div class="menu" v-on:click="change(1)" v-bind:class="{'active': active === 1}"> <p class="aicon">&#9660;</p> <p class="con">　パスワード変更</p></div>
    <div class="menu" v-on:click="change(2)" v-bind:class="{'active': active === 2}"> <p class="aicon">&#9660;</p> <p class="con" >　名前、メールアドレス変更</p></div>
    <div class="menu" v-on:click="change(3)" v-bind:class="{'active': active === 3}"> <p class="aicon">&#9660;</p> <p class="con" >　プロフィール編集</p></div>
  </div>
 <div class="content">
  <div v-if="active === 1">
    <div class="row">
      <div class="col-md-6">
        <%= form_with model: @user, local: true do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "OK !", class: "btn update" %>
        <% end %>


      </div>
    </div>


  </div>
  <div v-else-if="active === 2">
    <div class="row">
      <div class="col-md-6 ">
        <%= form_with model: @user, local: true do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>


          <%= f.submit "OK !", class: "btn update " %>
        <% end %>


      </div>
    </div>


  </div>
  <div v-else-if="active === 3">
    <div class="row">
      <div class="col-md-6 profile">
        <%= form_with model: @user, local: true do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :description ,'自己紹介'%>
          <%= f.text_area :description, class: 'form-control'%>

          <%= f.submit "OK !", class: "btn update" %>
        <% end %>


      </div>
    </div>

  </div>
</div>



</div>

</div>


<%= javascript_pack_tag 'user_edit.js' %>
