
<div class="users-wrapper">
  <%= render partial:'shared/menu',locals:{menu: @menu_number} %>
    <div class="user-content">


              <div class="profile">
                <div><%= gravatar_for @user %></div>
                <div class="name"><%= @user.name %></div>
                <div class="sheet">塗り絵シート<%=@graph_num + 1%>枚目</div>
              </div>


                <% @user ||= User.find(params[:id]) %>
                <div class="stats">
                  <%= link_to "#{@user.following.count}follow",following_user_path(@user),class:"follow_link"%>

                  <%= link_to "#{@user.followers.count}follower",followers_user_path(@user),class:"follow_link"%>

                </div>
              <p class="description-title">自己紹介</p>
              <div class="description">
                <p><%=@user&.description%></p>
              </div>
            <div class="user-information">
              <div class="dairys-wapper">
                <div class="dairy-title">
                  <%= image_tag asset_path('book_diary.png'), class: "side-icon" %>
                  <p >本日の日記</p>
                </div>

                <div class="dairy-wrapper">
                  <p class='dairy'><%= @dairy_today %></p>
                <% if @user.id == current_user.id %>
                  <div class="dairy-edit-link">
                    <%= link_to '日記を書く', edit_diary_path(@study), class: 'link' %>
                    <%= image_tag asset_path('fudepen.png'),class: "side-icon" %>
                  </div>
                <% end %>
                </div>
              </div>

              <div class="study-time-by-field" id="times">
                <p>本日の勉強時間</p>
                <today id = <%= params[:id]%>></today>
              </div>
            </div>

    </div>

</div>

<div class="study-page-link-wrapper"><%= image_tag asset_path('pen_mark.png'),class: "study-page-link-image" %><%= link_to "勉強を始める！",study_path(current_user.studies&.find_by(date: Time.current.strftime("%Y年%m月%d日"))),class:"study-page-link"%></div>




  <%= javascript_pack_tag 'time_by_field_index.js' %>
