

 <p class="study-day"><%= @study.date %></p>


 <div id="hello">
   <color></color>
   <tasks></tasks>
 </div>








  <div class="link-wrapper">
    <div class="write-dairy">
      <div class="links">
        <p><%= link_to '・日記を書く      ', edit_diary_path(@study),class:"link" %></p>

        <p><%= link_to '・今までの日記を見る',diaries_path,class:"link" %></p>
      </div>
    </div>



    <div class="rank-link">
      <div class="links">
        <p><%= link_to '・今日のランキングへ', ranks_today_path,class:"link" %></p>
        <p><%= link_to '・今月のランキングへ', ranks_month_path,class:"link" %></p>
      </div>

    </div>
    <div class="nurie-link">
      <div class="links">
        <p><%= link_to '・今までの塗り絵を見る', analyses_path,class:"link" %></p>

      </div>

    </div>
  </div>




<p>・過去の勉強履歴</p>
<div class="paginate-wrapper" %>


  <ul class="users">
    <% @studies.each do |study|%>
      <% unless study.date == Time.current.strftime("%Y年%m月%d日")  %>
        <li class="data"><%= study.date %></li>
        <li class="data"><%= study.count_time %></li>
      <% end %>
    <% end %>
  </ul>

    <%= will_paginate %>
</div>


<%= javascript_pack_tag 'application.js' %>
