

 <p class="study-day"><%= @study.date %></p>



 <div id="hello">
   <color></color>
   <tasks></tasks>


<div v-on:click="change()"><%= image_tag asset_path('mini-menu.png'),class: "menu-image" %></div>
<div v-if="show === false"><div class="please-click"><p class="icon">&#8601;</p> <p> Click!</p></div></div>
<div v-if="show === true" class="side-menus" >
  <p class="mini-menu-title">Mini-menu</p>
  <div  v-on:click="change()"><%= image_tag asset_path('batujirushi.png'),class: "cross-mark" %></div>
  <div class="side-menu">
    <%= image_tag asset_path('pencil.png'),class: "side-icon" %>
    <%= link_to "マーカーの編集", edit_marker_path(1), class: "link" %>
  </div>

  <div class="side-menu">
    <%= image_tag asset_path('book_diary.png'),class: "side-icon" %>
    <%= link_to '日記を書く', edit_diary_path(@study),class:"link" %>
  </div>


  <div class="side-menu">
    <%= image_tag asset_path('graph_oresen.png'),class: "side-icon" %>
    <%= link_to 'アナリティクス', analyses_path,class:"link" %>
  </div>
  <div class="side-menu">
    <%= image_tag asset_path('pen_mark.png'),class: "side-icon" %>
    <%= link_to 'このアプリについて', about_path,class:"link" %>
  </div>
</div>

<div class="open-about-me" v-on:click="changeShowAbout()"><div class="image-about-me-title"></div><p>使い方を見る</p></div>
<div class="about-me" v-if="showAbout === true">
  <div class="about-close" v-on:click="changeShowAbout()"></div>
  <p class="about-me-title">使い方手引き</p>
  <div class="about1"><p>①マーカー を登録</p><%= image_tag asset_path('marker-sample.png') ,class:"explanation-image-1"%></div>
  <div class="about2"><p>②マーカーを選択</p><%= image_tag asset_path('marker-select.png') ,class:"explanation-image-2"%></div>
  <div class="about3"><p>③好きなマス目を選択して記入。</p><%= image_tag asset_path('sample-nurie.png') ,class:"explanation-image-3"%></div>
  <div class="about4"><p>④タイマーモードで自動記入も可能</p><%= image_tag asset_path('timer-sample.png'), class:"explanation-image-4"%></div>
</div>

</div>





  <div class="link-wrapper">
    <div class="write-dairy">
      <div class="links">
        <p><%= link_to '・日記を書く      ', edit_diary_path(@study),class:"link" %></p>

        <p><%= link_to '・今までの日記を見る',diaries_path,class:"link" %></p>
      </div>
    </div>



    <div class="rank-link">
      <div class="links">
        <p><%= link_to '・ランキングを見る', ranks_today_path,class:"link" %></p>

      </div>

    </div>
    <div class="nurie-link">
      <div class="links">
        <p><%= link_to '・アナリティクスを見る', analyses_path,class:"link" %></p>

      </div>

    </div>
  </div>




<p>・過去の勉強履歴</p>
<div class="paginate-wrapper" %>

 <div class="study">
  <ul class="users">
    <% @studies.each do |study|%>
      <% unless study.date == Time.current.strftime("%Y年%m月%d日")  %>
        <li class="data"><%= study.date %></li>
        <li class="data"><%= study.count_time %></li>
      <% end %>
    <% end %>
  </ul>
 </div>

    <%= will_paginate %>
</div>





<%= javascript_pack_tag 'application.js' %>
